/* --------------------------------
   brands
-------------------------------- */

.brands
{
	line-height: 0;
	font-size: 0;
	letter-spacing: -1px;
	text-align: center;

	.__item
	{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 20%;
		min-width: 170px;
		height: 115px;
		line-height: 1;
		font-size: rem-calc(15px);
		letter-spacing: 0;
		cursor: pointer;
		overflow: hidden;
		border: 1px solid transparent;
		@include transition(border-color 0.3s ease-in-out);

		img
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: auto;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
			border: 9px solid transparent;
		}

		&:hover { border-color: $primary-color; }
	}

	&.slick-slider
	{
		padding-left: 40px;
		padding-right: 40px;

		.slick-arrow
		{
			position: absolute;
			top: 50%;
			width: 35px;
			height: 40px;
			margin-top: -20px;
			background-color: rgba($white-color,0.8);
			border: 1px solid $primary-color;
			line-height: 40px;
			font-size: rem-calc(20px);
			color: $primary-color;
		}

		.slick-prev { left: 0; }

		.slick-next { right: 0; }
	}
}

@include min-screen($sm-width)
{
	
}

@include min-screen($md-width)
{
	
}

@include min-screen($lg-width)
{
	
}

@include min-screen($xl-width)
{
	
}