<div class="team team--style-1">
	<div class="__inner">
		<div class="row">

			<!-- start item -->
			<div class="col col--sm-12 col--lg-12">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<a href="https://expolab.org/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/mo.jpeg" width="230" height="230" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/mohammad-sadoghi-b842a27/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Mohammad Sadoghi</h5>
						<span class="__subtitle">Principle Investigator</span>
					</div>

<!--					<div class="__content">-->
<!--						<h5 class="__title">David Drake</h5>-->
<!--						-->
<!--						<p>-->
<!--							David Drake, through his family office LDJ Capital, has acted as GP & LP investors with his partners in fund-of-funds, realty funds,-->
<!--						</p>-->
<!--					</div>-->
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>