<div class="team team--style-1">
	<div class="__inner">
		<div class="row">
			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/1_1_b.png" width="230" height="230" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">David Drake</h5>
						
						<p>
							David Drake, through his family office LDJ Capital, has acted as GP & LP investors with his partners in fund-of-funds, realty funds,
						</p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/2_1_b.png" width="230" height="230" alt="demo" />

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Ann Balock</h5>
						
						<p>
							Business development, Skolkovo Foundation. Interaction with public authorities and building partnerships with technology
						</p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-delay="300">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/3_1_b.png" width="230" height="230" alt="demo" />

						<div class="social-btns">
							<a class="fontello-gplus  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Vladimir Nikitin</h5>
						
						<p>
							Business development, Skolkovo Foundation. Interaction with public authorities and building partnerships with technology 
						</p>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>