<div class="company-contacts  text--center">
	<div class="__inner">
		<div class="row row--xs-between">
			<!-- start item -->
			<div class="col col--lg-4 col--xl-3">
				<div class="__item">
					<p>1010 Avenue of the Moon New York, NY 10018 US.</p>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4 col--xl-3">
				<div class="__item">
					<p>Call Us: <a href="tel:+70000000000">(066) 052 39876</a></p>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4 col--xl-3">
				<div class="__item">
					<p>Email: <a href="mailto:info@crypterium.co">info@crypterium.co</a></p>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>