<div class="events events--slider" data-slick='{"autoplay": true, "dots": true, "speed": 1000}'>
	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">10</span>
					</span>

					<span class="cell v-middle">
						September <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">Crypto Event in New York</a></h3>

			<p class="__text">
				Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">01</span>
					</span>

					<span class="cell v-middle">
						July <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">Blockchain Today</a></h3>

			<p class="__text">
				The meetings will take place in the following cities: 15 January – Milan, 16 January – Lugano, 17 January – Zurich, 18 Jan
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">23</span>
					</span>

					<span class="cell v-middle">
						July <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">ICO is Future Business</a></h3>

			<p class="__text">
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">12</span>
					</span>

					<span class="cell v-middle">
						May <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">Bitcoin is Currency of Today</a></h3>

			<p class="__text">
				Lh-Crypto project buys 10% of the total amount of LHC tokens sold at a double rate. Thus, even now, project investors can receive an 
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">10</span>
					</span>

					<span class="cell v-middle">
						September <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">Crypto Event in New York</a></h3>

			<p class="__text">
				Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">01</span>
					</span>

					<span class="cell v-middle">
						July <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">Blockchain Today</a></h3>

			<p class="__text">
				The meetings will take place in the following cities: 15 January – Milan, 16 January – Lugano, 17 January – Zurich, 18 Jan
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">23</span>
					</span>

					<span class="cell v-middle">
						July <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">ICO is Future Business</a></h3>

			<p class="__text">
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 
			</p>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<span class="__date-post">
				<span class="b-table">
					<span class="cell v-middle">
						<span class="__day">12</span>
					</span>

					<span class="cell v-middle">
						May <br> 2017
					</span>
				</span>
			</span>

			<h3 class="__title h4"><a href="#">Bitcoin is Currency of Today</a></h3>

			<p class="__text">
				Lh-Crypto project buys 10% of the total amount of LHC tokens sold at a double rate. Thus, even now, project investors can receive an 
			</p>
		</div>
	</div>
	<!-- end item -->
</div>