<div class="faq">
	<div class="accordion-container">
		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">What is <span class="thick">ResilientDB</span>?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						<span class="thick">ResilientDB</span> is a permissioned blockchain fabric, which easily allows its users to set up a blockchain application.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">What are the components of <span class="thick">ResilientDB</span>?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						<span class="thick">ResilientDB</span> helps to lay down a client-server architecture where all
						the servers are a replica of each other. Each client sends its transaction (or a set of transactions)
						to a specific replica --> primary. The primary replica takes client transactions and runs
						a consensus protocol among all the replicas. This process ensures that each replica executes
						the client transactions in the same order.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">What consensus protocol is used by <span class="thick">ResilientDB</span>?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						At present, we employ the PBFT protocol by Castro and Liskov [1998] to achieve consensus among
						the replicas. We have also designed several efficient BFT protocols (under peer-review),
						which are not open-source.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">What is blockchain here?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						The key components of any blockchain application are: clients, replicas, chain, cryptographic
						constructs, and consensus. <span class="thick">ResilientDB</span> is a permissioned blockchain fabric, and hence,
						its design differs from the crypto-currencies such as Bitcoin and Ethereum.
						Unlike Bitcoin, where each miner solves a computationally expensive puzzle,
						and each miner needs some incentives to work, <span class="thick">ResilientDB</span> does not have such a
						requirement. <span class="thick">ResilientDB</span> runs the PBFT consensus protocol, which only requires
						message exchange among the participating replicas, to ensure each replica has
						an identical state.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">How can I get access to other efficient BFT protocols?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						Please contact us regarding details for a Premium package.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">How can I see a demo of the ResilientDB??</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						<a href="https://www.youtube.com/watch?v=0kObJ0KPdkw&feature=youtu.be">This Video</a>
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">How can I setup, run, or play with <span class="thick">ResilientDB</span>?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						Please check out our <span class="thick">ResilientDB</span> github page for more details.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->
	</div>

<!--	<div class="text&#45;&#45;center">-->
<!--		<a class="custom-btn custom-btn&#45;&#45;medium custom-btn&#45;&#45;style-1" href="#">Show more</a>-->
<!--	</div>-->
</div>