<div class="posts posts--slider" data-slick='{"autoplay": true, "dots": true, "speed": 1000}'>
	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">Cryptocurrency</a></p>

			<h3 class="__title h4"><a href="#">New trends in UI/UX Design World Integration</a></h3>

			<p class="__text">
				Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of 
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">Bitcoin</a></p>

			<h3 class="__title h4"><a href="#">The LH-Crypto project has reached $7 000 000!</a></h3>

			<p class="__text">
				The meetings will take place in the following cities: 15 January – Milan, 16 January – Lugano, 17 January – Zurich, 18 Jan
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">ICO</a></p>

			<h3 class="__title h4"><a href="#">Crypto project has reached NormalCap!</a></h3>

			<p class="__text">
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">Blockchain</a></p>

			<h3 class="__title h4"><a href="#">Start the redemption before the ICO completion</a></h3>

			<p class="__text">
				Lh-Crypto project buys 10% of the total amount of LHC tokens sold at a double rate. Thus, even now, project investors can receive an 
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">Cryptocurrency</a></p>

			<h3 class="__title h4"><a href="#">New trends in UI/UX Design World Integration</a></h3>

			<p class="__text">
				Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of 
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">Bitcoin</a></p>

			<h3 class="__title h4"><a href="#">The LH-Crypto project has reached $7 000 000!</a></h3>

			<p class="__text">
				The meetings will take place in the following cities: 15 January – Milan, 16 January – Lugano, 17 January – Zurich, 18 Jan
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">ICO</a></p>

			<h3 class="__title h4"><a href="#">Crypto project has reached NormalCap!</a></h3>

			<p class="__text">
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--preview">
		<div class="__content">
			<p class="__category"><a href="#">Blockchain</a></p>

			<h3 class="__title h4"><a href="#">Start the redemption before the ICO completion</a></h3>

			<p class="__text">
				Lh-Crypto project buys 10% of the total amount of LHC tokens sold at a double rate. Thus, even now, project investors can receive an 
			</p>

			<span class="__date-post">September, 15 2017</span>
		</div>
	</div>
	<!-- end item -->
</div>