<div class="review review--slider  review--style-1" data-slick='{"autoplay": true, "arrows": false, "dots": true, "speed": 1000}'>
	<!-- start item -->
	<div class="__item">
		<div class="__text  text--center">
			<i class="__logo">
				<img class="img-responsive" width="232" height="87" src="img/logos_img/7.png" alt="demo" />
			</i>

			<p>
				“ Candlefish round stingray Reedfish giant wels, slimy sculpin beardfish anglerfish lighthousefish stream catfish. Rio Grande perch medaka rock bass ronquil squeaker southern hake northern pearleye South American Lungfish Red salmon cod icefish “
			</p>
		</div>

		<div class="__author  text--center">
			<img class="__author--image  center-block circled" width="78" height="78" src="img/ava.png" alt="demo"/>
			<h5 class="__author--name">Den Miller</h5>
			<span class="__author--position">CEO</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item">
		<div class="__text  text--center">
			<i class="__logo">
				<img class="img-responsive" width="232" height="87" src="img/logos_img/8.png" alt="demo" />
			</i>

			<p>
				“Lionfish ronquil yellowbelly tail catfish. Temperate ocean-bass merluccid hake snake mackerel archerfish zingel, shad swordtail, cepalin alooh masu salmon herring gopher rockfish. Pacific salmon longnose lancetfish giant sea bass candlefish deepwater flathead “
			</p>
		</div>

		<div class="__author  text--center">
			<img class="__author--image  center-block circled" width="78" height="78" src="img/ava_2.png" alt="demo"/>
			<h5 class="__author--name">Hanna Garcia</h5>
			<span class="__author--position">Journalist</span>
		</div>
	</div>
	<!-- end item -->


	<!-- start item -->
	<div class="__item">
		<div class="__text  text--center">
			<i class="__logo">
				<img class="img-responsive" width="232" height="87" src="img/logos_img/7.png" alt="demo" />
			</i>

			<p>
				“ Candlefish round stingray Reedfish giant wels, slimy sculpin beardfish anglerfish lighthousefish stream catfish. Rio Grande perch medaka rock bass ronquil squeaker southern hake northern pearleye South American Lungfish Red salmon cod icefish “
			</p>
		</div>

		<div class="__author  text--center">
			<img class="__author--image  center-block circled" width="78" height="78" src="img/ava.png" alt="demo"/>
			<h5 class="__author--name">Den Miller</h5>
			<span class="__author--position">CEO</span>
		</div>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item">
		<div class="__text  text--center">
			<i class="__logo">
				<img class="img-responsive" width="232" height="87" src="img/logos_img/8.png" alt="demo" />
			</i>

			<p>
				“Lionfish ronquil yellowbelly tail catfish. Temperate ocean-bass merluccid hake snake mackerel archerfish zingel, shad swordtail, cepalin alooh masu salmon herring gopher rockfish. Pacific salmon longnose lancetfish giant sea bass candlefish deepwater flathead “
			</p>
		</div>

		<div class="__author  text--center">
			<img class="__author--image  center-block circled" width="78" height="78" src="img/ava_2.png" alt="demo"/>
			<h5 class="__author--name">Hanna Garcia</h5>
			<span class="__author--position">Journalist</span>
		</div>
	</div>
	<!-- end item -->
</div>