<div class="row">
	<div class="col col--md-2  hide show--md">
		<i class="testimonial-ico">“</i>
	</div>

	<div class="col col--md-10">
		<!-- start testimonial -->
		<div class="testimonial testimonial--slider" data-slick='{"autoplay": true, "arrows": false, "dots": true, "speed": 1000}'>
			<!-- start item -->
			<div class="__item">
				<div class="__text">
					<p>
						Oh no way! Can I arks you a question, this heaps good hokey pokey is as stuffed as a snarky misses. Good afterble constanoon. Can't handle the jandle, do you happen to have a bucket or a hose bro?, piece of piss. Mean while, in the marae, Maui and the Armed Offenders Squad were up to no good with a bunch of sweet pavlovas. Chur bro, you're not in Guatemala now. 
					</p>
				</div>

				<div class="__author">
					<h5 class="__author--name">Joseph Allan</h5>
					<span class="__author--position">CEO Silver Development</span>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="__item">
				<div class="__text">
					<p>
						Oh no way! Can I arks you a question, this heaps good hokey pokey is as stuffed as a snarky misses. Good afterble constanoon. Can't handle the jandle, do you happen to have a bucket or a hose bro?, piece of piss. Mean while, in the marae, Maui and the Armed Offenders Squad were up to no good with a bunch of sweet pavlovas. Chur bro, you're not in Guatemala now. 
					</p>

					<p>
						Oh no way! Can I arks you a question, this heaps good hokey pokey is as stuffed as a snarky misses. Good afterble constanoon. Can't handle the jandle, do you happen to have a bucket or a hose bro?, piece of piss. Mean while, in the marae, Maui and the Armed Offenders Squad were up to no good with a bunch of sweet pavlovas. Chur bro, you're not in Guatemala now. 
					</p>
				</div>

				<div class="__author">
					<h5 class="__author--name">Joseph Allan</h5>
					<span class="__author--position">CEO Silver Development</span>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="__item">
				<div class="__text">
					<p>
						Oh no way! Can I arks you a question, this heaps good hokey pokey is as stuffed as a snarky misses. Good afterble constanoon. Can't handle the jandle, do you happen to have a bucket or a hose bro?, piece of piss. Mean while, in the marae, Maui and the Armed Offenders Squad were up to no good with a bunch of sweet pavlovas. Chur bro, you're not in Guatemala now. 
					</p>
				</div>

				<div class="__author">
					<h5 class="__author--name">Joseph Allan</h5>
					<span class="__author--position">CEO Silver Development</span>
				</div>
			</div>
			<!-- end item -->
		</div>
		<!-- end testimonial -->
	</div>
</div>