/* main colors */
$white-color     : #fff !default;
$dark-color      : #000 !default;
$primary-color   : #43c1a8 !default;
$secondary-color : #b9db27 !default;

/* main fonts */
$base-font-size       : 10px !default;
$base-fontFamily      : 'Catamaran', sans-serif !default;
$secondary-fontFamily : 'Open Sans', sans-serif !default;

/* main breakpoint */
$xl-width: 1200px !default;
$lg-width: 992px !default;
$md-width: 768px !default;
$sm-width: 560px !default;