@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s all, transform 0.15s all;
  transform: translateY(-10px);
  background-color: #1E232E;
  padding: 0;
  width: 100%;
}

.expanded .accordion-content {
  max-height: 500px;
  transform: translateY(0px);
  padding: 10px;
  background-color: #151523;
}

.accordion-title {
  display: flex;
  align-items: center;
  background-color: #131320;
  padding: 10px;
  width: 100%;
  position: relative;
}

.title-and-badge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.badge {
  margin-left: 0.5rem;
  background-color: #1E232E;
  border-radius: 5px;
  padding: 2px 8px;
  flex-shrink: 0;
}

.badge-award {
  margin-left: 0.5rem;
  background-color: #203c77;
  border-radius: 5px;
  padding: 2px 8px;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

@media (max-width: 750px) {
  .title-and-badge {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 30px;
    flex-grow: 1;
  }

  .title-text, .badge {
    flex-basis: 100%;
    white-space: normal;
  }

  .badge {
    order: 2;
    margin-left: 0;
    margin-bottom: 2px;
  }

  .title-text, .badge-award {
    flex-basis: 100%;
    white-space: normal;
  }

  .badge-award {
    order: 2;
    margin-left: 0;
  }
}

.publink {
  color: #546082;
  font-size: 13px;
}

.publink:hover {
  color: #66749B;
}

.accordion-item:first-child .accordion-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion-item:last-child .accordion-title {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordion-item:last-child.expanded .accordion-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-item:last-child.expanded .accordion-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rotate-180 {
  transform: rotate(180deg);
}

.publication-container .rounded-sm {
  background: transparent;
  border: none;
  box-shadow: none;
}

.year-selector {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.year-btn {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 10px;
}

.year-btn.active {
  border-bottom: 2px solid #25D8C5;
}

.SinglePublication {
  width: 80%;
  margin: 0 auto;
}

.accordion-item {
  width: 100%;
}

.badge-download {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  background-color: #495064;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.badge-download:hover {
  background-color: #3d4353;
}

.badge-download-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.apache-logo {
  height: 35px;
  width: auto;
}

.custom-inline-block {
  display: inline-block;
  margin-bottom: 2rem;
  height: 100px;
}