<div class="faq">
	<div class="accordion-container">
		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can American citizens take part in the crowdsale?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers per
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Does the crowdsale comply with legal regulations?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers per
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quas molestias aut dolore fugiat at, neque aliquam nesciunt dolor! Molestiae sunt magnam asperiores, quasi blanditiis iste doloremque odit qui! Neque?
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can I trade SCR at an exchange?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers per
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quas molestias aut dolore fugiat at, neque aliquam nesciunt dolor! Molestiae sunt magnam asperiores, quasi blanditiis iste doloremque odit qui! Neque?
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">What is the difference between Scorum Coin tokens and Scorum Power tokens?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers per
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quas molestias aut dolore fugiat at, neque aliquam nesciunt dolor! Molestiae sunt magnam asperiores, quasi blanditiis iste doloremque odit qui! Neque?
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Why is Scorum’s economic model sustainable?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers per
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quas molestias aut dolore fugiat at, neque aliquam nesciunt dolor! Molestiae sunt magnam asperiores, quasi blanditiis iste doloremque odit qui! Neque?
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can I mine SCR?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers per
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quas molestias aut dolore fugiat at, neque aliquam nesciunt dolor! Molestiae sunt magnam asperiores, quasi blanditiis iste doloremque odit qui! Neque?
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->
	</div>

	<div class="text--center">
		<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Show more</a>
	</div>
</div>