<div class="feature feature--style-2  text--center text--sm-left">
	<div class="__inner">
		<div class="row">
			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item" data-aos="fade" data-aos-delay="100" data-aos-offset="100">
					<div class="__content">
						<i class="__ico">
							<img class="img-responsive lazy" src="img/blank.gif" data-src="img/feature_img/1_1.png" width="34" height="60" alt="demo" />
						</i>

						<h3 class="__title">Mobile App</h3>

						<p>Hoki lamprey Japanese eel; loach catfish deep sea bonefish long-finned pike finback cat shark gunnel. Shiner eel cod striped bass</p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item" data-aos="fade" data-aos-delay="150" data-aos-offset="100">
					<div class="__content">
						<i class="__ico">
							<img class="img-responsive lazy" src="img/blank.gif" data-src="img/feature_img/2_1.png" width="46" height="60" alt="demo" />
						</i>

						<h3 class="__title">Insurance Protection</h3>

						<p>Jack California flyingfish Devario walleye french angelfish red snapper; ghoul: sea raven. Barreleye slipmouth yellowfin grouper </p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item" data-aos="fade" data-aos-delay="200" data-aos-offset="100">
					<div class="__content">
						<i class="__ico">
							<img class="img-responsive lazy" src="img/blank.gif" data-src="img/feature_img/3_1.png" width="46" height="60" alt="demo" />
						</i>

						<h3 class="__title">Secure Storage</h3>

						<p>Whitebait Pacific viperfish, grideye boafish Canthigaster rostrata brook lamprey, rock cod Billfish, brook lamprey collared</p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item" data-aos="fade" data-aos-delay="250" data-aos-offset="100">
					<div class="__content">
						<i class="__ico">
							<img class="img-responsive lazy" src="img/blank.gif" data-src="img/feature_img/4_1.png" width="60" height="60" alt="demo" />
						</i>

						<h3 class="__title">Exchange Service</h3>

						<p>Yellow moray, Reedfish sergeant major. Blue-redstripe danio kappy Sevan trout crocodile icefish collared carpetshark. </p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item" data-aos="fade" data-aos-delay="300" data-aos-offset="100">
					<div class="__content">
						<i class="__ico">
							<img class="img-responsive lazy" src="img/blank.gif" data-src="img/feature_img/5_1.png" width="68" height="51" alt="demo" />
						</i>

						<h3 class="__title">Credit Card Use</h3>

						<p>Weatherfish dragon goby mullet Bengal danio long-whiskered catfish gray mullet boga prickly shark banjo catfish. </p>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4">
				<div class="__item" data-aos="fade" data-aos-delay="350" data-aos-offset="100">
					<div class="__content">
						<i class="__ico">
							<img class="img-responsive lazy" src="img/blank.gif" data-src="img/feature_img/6_1.png" width="64" height="46" alt="demo" />
						</i>

						<h3 class="__title">Multycurrency Wallet</h3>

						<p>Dolly Varden trout sturgeon, morwong houndshark. Mooneye bobtail snipe eel bichir slimy sculpin armorhead catfish</p>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>