<footer id="footer" class="text--center text--lg-left">
	<div class="grid grid--container">
		<div class="row">
			<div class="col col--xs-12">
				<div class="__item">
					<a class="site-logo" href="index.html">
						<img class="img-responsive lazy" width="175" height="42" src="img/blank.gif" data-src="img/site_logo.png" alt="demo" />
					</a>
				</div>
			</div>
		</div>

		<div class="row row--xs-middle">
			<div class="col col--sm-10 col--md-8 col--lg-5">
				<div class="__item">
					<ul class="__menu">
						<li><a href="mailto:info@resilientdb.com" style="text-decoration: none; color: white"> Info: info@resilientdb.com</a></li>
						<li><a href="mailto:support@resilientdb.com" style="text-decoration: none; color: white"> Support: support@resilientdb.com</a></li>
						<li><a href="https://twitter.com/resilientdb" style="text-decoration: none;color: white"> Twitter: @resilientdb</a></li>
					</ul>
<!--					<div class="social-btns">-->
<!--					</div>-->
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-7">
				<div class="__item">
					<nav id="footer__navigation" class="navigation">
						<div class="row row--xs-middle">

							<div class="col col--xs-auto col--md-3 col--lg-4">
								<ul class="__menu">
									<li><a href="#start-screen">ResilentDB</a></li>
									<li><a href="#roadmap">Roadmap</a></li>
									<li><a href="#publications">Publications</a></li>
								</ul>
							</div>

							<div class="col col--xs-auto col--md-3 col--lg-4">
								<ul class="__menu">
									<li><a href="#code">Code</a></li>
									<li><a target="_blank" href="https://github.com/resilientdb/resilientdb/wiki">Wiki</a></li>
									<li><a target="_blank" href="blog">Blog</a></li>
								</ul>
							</div>

<!--							<div class="col hide&#45;&#45;md col-MB-20"></div>-->

<!--							<div class="col col&#45;&#45;xs-auto col&#45;&#45;md-auto col&#45;&#45;lg-4">-->
<!--								<ul class="__menu">-->
<!--									<li><a href="#">Blog</a></li>-->
<!--									<li><a href="#">Privacy policy</a></li>-->
<!--									<li><a href="#">Terms & conditionss</a></li>-->
<!--									<li><a href="#">Customer Service</a></li>-->
<!--								</ul>-->
<!--							</div>-->
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="row row--xs-middle row--lg-between">
			<div class="col col--sm-10 col--md-8 col--lg-6">
				<div class="__item">
					<span class="__copy">© 2019, ResilientDB</span>
				</div>
			</div>

<!--			<div class="col col&#45;&#45;sm-10 col&#45;&#45;md-8 col&#45;&#45;lg-6  text&#45;&#45;lg-right">-->
<!--				<div class="__item">-->
<!--					<span class="__copy"><a href="#">Privacy Policy</a> | <a href="#">Sitemap</a></span>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
</footer>