<footer id="footer" class="text--center text--lg-left">
	<div class="grid grid--container">
		<div class="row row--xs-middle">
			<div class="col col--sm-10 col--md-8 col--lg-4">
				<div class="__item">
					<a class="site-logo" href="index.html">
						<img class="img-responsive lazy" width="175" height="42" src="img/blank.gif" data-src="img/site_logo.png" alt="demo" />
					</a>

					<p class="__text">
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
					</p>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-3 col--xl-offset-1">
				<div class="__item">
					<h4 class="__title">Main menu</h4>

					<nav id="footer__navigation" class="navigation">
						<div class="row row--xs-middle">
							<div class="col col--xs-auto col--lg-6">
								<ul class="__menu">
									<li><a href="#">Home</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Contacts</a></li>
									<li><a href="#">News</a></li>
								</ul>
							</div>

							<div class="col col--xs-auto col--lg-6">
								<ul class="__menu">
									<li><a href="#">Events</a></li>
									<li><a href="#">Wallet</a></li>
									<li><a href="#">FAQ’s</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-5 col--xl-4">
				<div class="__item">
					<h4 class="__title">Subscribe</h4>

					<form class="form--horizontal" action="#">
						<div class="b-table">
							<div class="cell v-middle">
								<div class="input-wrp">
									<input class="textfield" type="text" value="" placeholder="E-mail" />
								</div>
							</div>

							<div class="cell v-middle">
								<button class="custom-btn custom-btn--medium custom-btn--style-2" type="submit" role="button">Subscribe</button>
							</div>
						</div>
					</form>

					<p class="__note">Despite some naming, syntactic, and standard</p>
				</div>
			</div>
		</div>

		<div class="row row--xs-middle row--lg-between">
			<div class="col col--sm-10 col--md-8 col--lg-4">
				<div class="__item">
					<div class="social-btns">
						<a class="fontello-twitter" href="#"></a>
						<a class="fontello-facebook" href="#"></a>
						<a class="fontello-linkedin-squared" href="#"></a>
					</div>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-6  text--lg-right">
				<div class="__item">
					<span class="__copy">© 2018, Crypterium Theme by <a class="__dev" href="#" target="_blank">Artureanec</a> | <a href="#">Privacy Policy</a> | <a href="#">Sitemap</a></span>
				</div>
			</div>
		</div>
	</div>
</footer>