<footer id="footer" class="text--center text--lg-left">
	<div class="grid grid--container">
		<div class="row">
			<div class="col col--xs-12">
				<div class="__item">
					<a class="site-logo" href="index.html">
						<img class="img-responsive lazy" width="175" height="42" src="img/blank.gif" data-src="img/site_logo.png" alt="demo" />
					</a>
				</div>
			</div>
		</div>

		<div class="row row--xs-middle">
			<div class="col col--sm-10 col--md-8 col--lg-5">
				<div class="__item">
					<address class="__text">
						523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA <br>
						<a href="tel:+1(234)56789">+1 (234) 56789</a>, <a href="tel:+19876543210">+1 987 654 3210</a> <br>
						<a href="mailto:supportcenter@crypterium.com">supportcenter@crypterium.com</a>
					</address>

					<div class="social-btns">
						<a class="fontello-twitter" href="#"></a>
						<a class="fontello-facebook" href="#"></a>
						<a class="fontello-linkedin-squared" href="#"></a>
					</div>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-7">
				<div class="__item">
					<nav id="footer__navigation" class="navigation">
						<div class="row row--xs-middle">
							<div class="col col--xs-auto col--md-3 col--lg-4">
								<ul class="__menu">
									<li><a href="#">Home</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Contacts</a></li>
									<li><a href="#">News</a></li>
								</ul>
							</div>

							<div class="col col--xs-auto col--md-3 col--lg-4">
								<ul class="__menu">
									<li><a href="#">Events</a></li>
									<li><a href="#">Wallet</a></li>
									<li><a href="#">FAQ’s</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>

							<div class="col hide--md col-MB-20"></div>

							<div class="col col--xs-auto col--md-auto col--lg-4">
								<ul class="__menu">
									<li><a href="#">Blog</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Terms & conditionss</a></li>
									<li><a href="#">Customer Service</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="row row--xs-middle row--lg-between">
			<div class="col col--sm-10 col--md-8 col--lg-6">
				<div class="__item">
					<span class="__copy">© 2018, Crypterium Theme by <a class="__dev" href="#" target="_blank">Artureanec</a></span>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-6  text--lg-right">
				<div class="__item">
					<span class="__copy"><a href="#">Privacy Policy</a> | <a href="#">Sitemap</a></span>
				</div>
			</div>
		</div>
	</div>
</footer>