<section class="section section--light-blue-bg">
	<div class="grid grid--container">
		<div class="row row--xs-center">
			<div class="col col--lg-5">
				<div data-aos="fade-right" data-aos-offset="0">
					<div class="section-heading  col-MB-30">
						<h5 class="__subtitle">Mobile Markeplaces</h5>

						<h2 class="__title">Awesome App which Works for Your Business!</h2>
					</div>

					<p class="col-MB-35">
						Despite some naming, syntactic, and standard library similarities, JavaScript and Java are otherwise unrelated and have very different semantics.
					</p>

					<div class="b-table" style="width: auto;">
						<a class="cell v-middle" href="#"><img class="img-responsive lazy" src="img/blank.gif" data-src="img/google_play.png" alt="demo" /></a>
						&nbsp;
						<a class="cell v-middle" href="#"><img class="img-responsive lazy" src="img/blank.gif" data-src="img/app_store.png" alt="demo" /></a>
					</div>
				</div>
			</div>

			<div class="col hide--md col-MB-40"></div>

			<div class="col col--lg-7">
				<div data-aos="fade" data-aos-delay="300">
					<img class="img-responsive center-block lazy" src="img/blank.gif" data-src="img/img_2.jpg" alt="demo" />
				</div>
			</div>
		</div>
	</div>
</section>