<div class="timeline timeline--style-2 timeline--dark-color">
	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">June 2017</span>
		<h5 class="__text __text--second">Stats Center Beta</h5>

		<p>
			Weatherfish dragon goby mullet Bengal danio long-whiskered catfish gray mullet boga prickly 
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">July 2017</span>
		<h5 class="__text __text--second">BI Intergration</h5>

		<p>
			Yellow moray, Reedfish sergeant major. Blue-redstripe danio kappy Sevan trout crocodile icefish 
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">August 2017</span>
		<h5 class="__text __text--second">Fantasy Prototype</h5>

		<p>
			Dolly Varden trout sturgeon, morwong houndshark. Mooneye bobtail snipe eel bichir slimy sculpin armorhead catfish, cutlassfish, "sandburrower 
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">January 2018</span>
		<h5 class="__text __text--second">Tokens Crowdsale</h5>

		<p>
			Yellow moray, Reedfish sergeant major. Blue-redstripe danio kappy Sevan trout crocodile icefish collared carpetshark. 
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active __item--current">
		<i class="__point"></i>
		<span class="__line"></span>

		<span class="__text __text--first">February 2018</span>
		<h5 class="__text __text--second">Advertizing System</h5>

		<p>
			Dolly Varden trout sturgeon, morwong houndshark. Mooneye bobtail snipe eel bichir slimy sculpin armorhead catfish, cutlassfish, "sandburrower 
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>
		<span class="__line"></span>

		<span class="__text __text--first">April 2018</span>
		<h5 class="__text __text--second">Blogging Platform</h5>

		<p>
			Weatherfish dragon goby mullet Bengal danio long-whiskered catfish gray mullet boga prickly 
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__text __text--first">May 2018</span>
		<h5 class="__text __text--second">Fantasy Sports with SCR</h5>

		<p>
			Hoki lamprey Japanese eel; loach catfish deep sea bonefish long-finned pike finback cat shark gunnel. Shiner eel cod striped bass; flathead 
		</p>
	</div>
	<!-- end item -->
</div>