<div class="timeline timeline--style-1 timeline--dark-color">
	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">January 2018</span>
		<h5 class="__text __text--second">ResilientDB Vision</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">April 2018</span>
		<h5 class="__text __text--second">Optimal Batching</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">September 2018</span>
		<h5 class="__text __text--second">Deep Pipeline Architecture</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">December 2018</span>
		<h5 class="__text __text--second">Parallel Runtime</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">May 2019</span>
		<h5 class="__text __text--second">Out-of-order Communication</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">July 2019</span>
		<h5 class="__text __text--second">De-coupled Execution</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>

		<span class="__line __line--active"></span>

		<span class="__text __text--first">September 2019</span>
		<h5 class="__text __text--second">Off-Chain Management</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active __item--current">
		<i class="__point"></i>

		<span class="__line"></span>

		<span class="__text __text--first">November 2019</span>
		<h5 class="__text __text--second">Release</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">January 2020</span>
		<h5 class="__text __text--second">Speculative Consensus</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">February 2020</span>
		<h5 class="__text __text--second">Parallel Consensus</h5>
		<p>Scale Up</p>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">March 2020</span>
		<h5 class="__text __text--second">Geo Consensus</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">April 2019</span>
		<h5 class="__text __text--second">Sharded Consensus</h5>
		<p>Scale out</p>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">May 2020</span>
		<h5 class="__text __text--second">Linear Consensus</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">Summer 2020</span>
		<h5 class="__text __text--second">Global Scale</h5>
		<p>10,000 nodes</p>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>

		<span class="__line"></span>
		<span class="__text __text--first">Fall 2020</span>
		<h5 class="__text __text--second">Million TPS</h5>
	</div>
	<!-- end item -->
</div>