<div class="timeline timeline--style-2 timeline--light-color" xmlns="http://www.w3.org/1999/html">
	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">January 2018</span>
		<h5 class="__text __text--second"><a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/watch?v=whgGTSQttds&feature=emb_logo">ResilientDB Vision</a></h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">April 2018</span>
		<h5 class="__text __text--second">Optimal Batching</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">September 2018</span>
		<h5 class="__text __text--second">Deep Pipeline Architecture</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">December 2018</span>
		<h5 class="__text __text--second">Parallel Runtime</h5>

	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">March 2019</span>
		<h5 class="__text __text--second"><a target="_blank" href="https://www.morganclaypool.com/doi/abs/10.2200/S00896ED1V01Y201901DTM058">
			Advanced Transaction Processing Textbook</a>
		</h5>
		<p>
			The Era of Hardware Specialization &amp; Beyond
		</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">May 2019</span>
		<h5 class="__text __text--second">Out-of-order Communication</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>

		<span class="__text __text--first">July 2019</span>
		<h5 class="__text __text--second">De-coupled Execution</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>

		<span class="__line __line--active"></span>

		<span class="__text __text--first">September 2019</span>
		<h5 class="__text __text--second">Off-Chain Management</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">November 2019</span>
		<h5 class="__text __text--second">Release V1.0</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">December 2019</span>
		<h5 class="__text __text--second"><a target="_blank" href="https://drops.dagstuhl.de/opus/volltexte/2019/11352/pdf/LIPIcs-DISC-2019-45.pdf">Reliable Cluster Sending</a></h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>

		<span class="__line __line--active"></span>
		<span class="__text __text--first">January 2020</span>
		<h5 class="__text __text--second"><a target="_blank" href="https://arxiv.org/pdf/1911.00838.pdf">Speculative Consensus</a></h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">February 2020</span>
		<h5 class="__text __text--second"><a target="_blank" href="https://drops.dagstuhl.de/opus/volltexte/2019/11351/pdf/LIPIcs-DISC-2019-44.pdf">Wait-free Consensus</a></h5>
		<p>Scale Up</p>
	</div>
	<!-- end item -->


	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">March 2020</span>
		<h5 class="__text __text--second">
			<a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/watch?v=0kObJ0KPdkw">DB-based Chain, Smart Contract, Admin UI, Dashboard</a>
		</h5>
		<p>Release V2.0</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">April 2020</span>
		<h5 class="__text __text--second">
			<a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/watch?v=tbUNAPiAcYI">Delayed Replication</a>
		</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">May 2020</span>
		<h5 class="__text __text--second">
			<a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/watch?v=33k9aFoDtBw">Geo Consensus</a>
		</h5>
		<h5 class="__text __text--second">
			<a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/watch?v=lvftXtpxEEc">Architectural Lessons Learned</a>
		</h5>
		<h5 class="__text __text--second">
			<a target="_blank" style="text-decoration: none;" href="https://youtu.be/frXpHYf_kSI">The Story Behind Building ResilientDB</a>
		</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>

		<span class="__line __line--active"></span>
		<span class="__text __text--first">August 2020</span>
		<h5 class="__text __text--second"><a target="_blank" href="https://arxiv.org/pdf/2008.04450.pdf">
			Cerberus: Minimalistic Sharded Consensus
		</a></h5>
		<p>Scale out</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>

		<span class="__line __line--active"></span>
		<span class="__text __text--first">October 2020</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://arxiv.org/abs/1911.00837">Concurrent Consensus</a>
			</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>

		<span class="__line __line--active"></span>
		<span class="__text __text--first">November 2020</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://arxiv.org/abs/1911.00838">Linear Consensus</a>
		</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active ">
		<i class="__point"></i>

		<span class="__line __line--active"></span>
		<span class="__text __text--first">February 4, 2021</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://www.morganclaypool.com/doi/abs/10.2200/S01068ED1V01Y202012DTM065">Authoritative Blockchain Textbook</a>
		</h5>
		<p>One of a kind!</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">Spring 2021</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://expolab.org/papers/byshard-vldb.pdf">
				ByShard: Theoretical Sharding Foundation
			</a>
		</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line  __line--active"></span>
		<span class="__text __text--first">Summer 2021</span>
		<h5 class="__text __text--second"><a target="_blank" target="_blank" href="https://arxiv.org/pdf/2107.13047.pdf">
			RingBFT: Practical Sharded Consensus on Ring Topology
		</a></h5>
		<p>Million Resilient TPS</p>
		<h5 class="__text __text--second"><a target="_blank" target="_blank" href="https://arxiv.org/pdf/2108.08541.pdf">
			Probabilistic Reliable Cluster Communication
		</a></h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">September 30, 2021</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://github.com/resilientdb/resilientdb">
			ResilientDB 3.0
			</a>
			and
			<a target="_blank" href="https://resilientdb.com/blog/">
				ExpoBlog
			</a>
			Release
		</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">Fall 2021</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://arxiv.org/abs/2201.00982">
				Fault-tolerant Serverless Infrastructure
			</a>
		</h5>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">Winter 2022</span>
		<h5 class="__text __text--second">
			<a target="_blank" href="https://arxiv.org/abs/2202.01354">
				SGX Accelerated Consensus
			</a>
		</h5>
		<p>Dissecting BFT Consensus</p>
	</div>
	<!-- end item -->

	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">Spring 2022</span>
		<h5 class="__text __text--second">
			<a href="https://arxiv.org/abs/2204.03552" target="_blank">
				On the Correctness of Speculative Consensus
			</a>
		</h5>
		<h5 class="__text __text--second">
			<a href="https://arxiv.org/abs/2205.04534" target="_blank">
				The Bedrock of BFT
			</a>
		</h5>
		<p>A Unified Formalism & Analysis</p>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item __item--active">
		<i class="__point"></i>
		<span class="__line __line--active"></span>
		<span class="__text __text--first">Summer 2022</span>
		<h5 class="__text __text--second"><a href="http://sites.computer.org/debull/A22june/p25.pdf" target="_blank">Hybrid Consensus: Power-of-Collaboration</a> </h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item __item--active __item--current">
		<i class="__point"></i>
		<span class="__line"></span>
		<span class="__text __text--first">September 30, 2022</span>
		<h5 class="__text __text--second"><a href="https://resilientdb.com/">NexRes: A New Sustainable Foundation</a> </h5>
		<p>Architectural Rewrite of ResilientDB</p>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>
		<span class="__line"></span>
		<span class="__text __text--first">Fall 2022</span>
		<h5 class="__text __text--second">View-Change-Less Consensus</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>
		<span class="__line"></span>
		<span class="__text __text--first">Spring 2023</span>
		<h5 class="__text __text--second">Reconfigurable Ecosystem</h5>
	</div>
	<!-- end item -->
	<!-- start item -->
	<div class="__item">
		<i class="__point"></i>
		<span class="__line"></span>
		<span class="__text __text--first">Winter 2024</span>
		<h5 class="__text __text--second">Planet Scale</h5>
		<p>10,000 Replicas</p>
	</div>
	<!-- end item -->
</div>