<div class="team team--style-2 team--light-color">
	<div class="__inner">
		<div class="row">

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
					<figure class="__image  center-block circled">
						<a href="https://gupta-suyash.github.io/"><img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/suyash.jpeg" width="110" height="110"  /></a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/suyash-gupta-253b39a1"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Suyash Gupta</h5>
						<span class="__subtitle">Lead Architect</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<a href="https://sajjadrahnama.com/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/sajjad.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/sajjadrahnama/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Sajjad Rahnama</h5>
						<span class="__subtitle">Lead System Designer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="http://jhellings.nl/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/j.jpg" width="110" height="110" alt="demo" />
						</a>

						<!--						<div class="social-btns">-->
						<!--							<a class="fontello-linkedin  circled" href=""></a>-->
						<!--						</div>-->
					</figure>

					<div class="__content">
						<h5 class="__title">Jelle Hellings</h5>
						<span class="__subtitle">Complexity Theorist</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="150">
					<figure class="__image  center-block circled">
						<a href="http://thamir.qadah.com">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/tq.jpeg" width="110" height="110" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/qadahtm/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Thamir Qadah</h5>
						<span class="__subtitle">Concurrency Control Specialist</span>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
		<div class="row">



			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
<!--						<a href="">-->
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/dakai.jpg" width="110" height="110" alt="demo" />
<!--						</a>-->
<!--						<div class="social-btns">&ndash;&gt;-->
<!--							<a class="fontello-linkedin  circled" href="#"></a>-->
<!--						</div>-->
					</figure>

					<div class="__content">
						<h5 class="__title">Kang Dakai</h5>
						<span class="__subtitle">System Designer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/junchao-chen-ab75a353/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/JunchaoChen.png" width="110" height="110" alt="demo" />
						</a>
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/junchao-chen-ab75a353/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Junchao Chen</h5>
						<span class="__subtitle">NexRes Architect</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/sheshavpd/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/SheshaVishnuPrasad.jpg" width="110" height="110" alt="demo" />
						</a>
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/sheshavpd/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Shesha Vishnu Prasad</h5>
						<span class="__subtitle">NexRes Recovery Architect</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/jinxiao-yu-029137150/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/JinxiaoYu.jpg" width="110" height="110" alt="demo" />
						</a>
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/jinxiao-yu-029137150/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Jinxiao Yu</h5>
						<span class="__subtitle">Performance Analyst</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/weijia-w/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/WayneWang.jpg" width="110" height="110" alt="demo" />
						</a>
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/weijia-w/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Wayne Wang</h5>
						<span class="__subtitle">Sharding Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://arindaam.com">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/ArindaamRoy.jpg" width="110" height="110" alt="demo" />
						</a>
						<div class="social-btns">
						<a class="fontello-linkedin  circled" href="https//www.linkedin.com/in/arindaam-roy/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Arindaam Roy</h5>
						<span class="__subtitle">Toolkit & Integration Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.divjeet.me">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/DivjeetSinghJas.png" width="110" height="110" alt="demo" />
						</a>
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/divjeet-singh/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Divjeet Singh Jas</h5>
						<span class="__subtitle">dApp Lead Developer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<!--						<a href="#">-->
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/Julieta.JPG" width="110" height="110" alt="demo" />
						<!--						</a>-->
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/julieta-duarte-994983238"></a>
						</div>
					</figure>
					<div class="__content">
						<h5 class="__title">Julieta Duarte</h5>
						<span class="__subtitle">System Storage Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<!--						<a href="#">-->
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/GlennChen.jpg" width="110" height="110" alt="demo" />
						<!--						</a>-->
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/glenn-chen1/"></a>
						</div>
					</figure>
					<div class="__content">
						<h5 class="__title">Glenn Chen</h5>
						<span class="__subtitle">System Storage Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<!--						<a href="#">-->
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/SeongwooChoi.jpeg" width="110" height="110" alt="demo" />
						<!--						</a>-->
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/swchoi1994/"></a>
						</div>
					</figure>
					<div class="__content">
						<h5 class="__title">Seongwoo Choi</h5>
						<span class="__subtitle">DevOp Support</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<!--						<a href="#">-->
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/TroyInsixiengmay.jpg" width="110" height="110" alt="demo" />
						<!--						</a>-->
						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/troy-i-a07bb9187/"></a>
						</div>
					</figure>
					<div class="__content">
						<h5 class="__title">Troy Insixiengmay</h5>
						<span class="__subtitle">Mobile DApp Developer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				
			</div>
			<!-- end item -->
		</div>
		<div class="section-heading section-heading--center section-heading--white  col-MB-60">
			<h4 class="__title">Distinguished Alumni</h4>
		</div>
		<div class="row">
			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
					<figure class="__image  center-block circled">
						<a href=""><img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/rohan.jpeg" width="110" height="110"  /></a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/rohan-sogani-80a2088a/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Rohan Sogani</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<a href="#">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/priya.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/priyaholani"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Priya Holani</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="http://dhruvkrishnan.com/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/dhruv.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/dhruvkrishnan"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Dhruv Krishnan</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->


			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/p-shubham1996">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/shubham.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/p-shubham1996"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Shubham Pandey</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/haojun-zhu-89ab9419b/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/howard.png" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/haojun-zhu-89ab9419b/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Haojun (Howard) Zhu</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://alejandroarmas.github.io">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/alejandro.JPG" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/armasalejandro/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Alejandro Armas</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>