<div class="team team--style-2 team--light-color">
	<div class="__inner">
		<div class="row">

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
					<figure class="__image  center-block circled">
						<a href="https://gupta-suyash.github.io/"><img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/suyash.jpeg" width="110" height="110"  /></a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/suyash-gupta-253b39a1"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Suyash Gupta</h5>
						<span class="__subtitle">Lead Architect</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<a href="https://sajjadrahnama.com/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/sajjad.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/sajjadrahnama/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Sajjad Rahnama</h5>
						<span class="__subtitle">System Designer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="http://jhellings.nl/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/j.jpg" width="110" height="110" alt="demo" />
						</a>

						<!--						<div class="social-btns">-->
						<!--							<a class="fontello-linkedin  circled" href=""></a>-->
						<!--						</div>-->
					</figure>

					<div class="__content">
						<h5 class="__title">Jelle Hellings</h5>
						<span class="__subtitle">Complexity Theorist</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="150">
					<figure class="__image  center-block circled">
						<a href="http://thamir.qadah.com">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/tq.jpeg" width="110" height="110" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/qadahtm/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Thamir Qadah</h5>
						<span class="__subtitle">Software Systems Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
		<div class="row">

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
					<figure class="__image  center-block circled">
						<a href=""><img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/rohan.jpeg" width="110" height="110"  /></a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/rohan-sogani-80a2088a/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Rohan Sogani</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<a href="">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/priya.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/priyaholani"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Priya Holani</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="http://dhruvkrishnan.com/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/dhruv.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">-->
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/dhruvkrishnan"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Dhruv Krishnan</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->


			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://www.linkedin.com/in/p-shubham1996">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/shubham.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">-->
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/p-shubham1996"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Shubham Pandey</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://alejandroarmas.github.io">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/alejandro.JPG" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">-->
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/armasalejandro/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Alejandro Armas</h5>
						<span class="__subtitle">System Engineer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-6 col--md-3 col--lg-3">
				
			</div>
			<!-- end item -->
		</div>
	</div>
</div>