<div class="team team--style-2 team--dark-color">
	<div class="__inner">
		<div class="row">
			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/1.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">David Drake</h5>
						<span class="__subtitle">UI Designer</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/2.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Allan Bellor</h5>
						<span class="__subtitle">Analitics</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="150">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/3.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Joe Doe</h5>
						<span class="__subtitle">Tech Operation</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/4.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-gplus  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Sam Tolder</h5>
						<span class="__subtitle">CEO</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="250">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/5.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Henry Polar</h5>
						<span class="__subtitle">SEO Specialist</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="300">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/6.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Sandra Pen</h5>
						<span class="__subtitle">Humar Resources</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="350">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/7.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Den Miller</h5>
						<span class="__subtitle">Economist</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="400">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/8.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Brawn Lee</h5>
						<span class="__subtitle">Journalist</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="450">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/9.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-gplus  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Linda Gampton</h5>
						<span class="__subtitle">UX Team Lead</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="500">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/10.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">John Smith</h5>
						<span class="__subtitle">General Director</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="550">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/11.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Sam Oldrich</h5>
						<span class="__subtitle">Manager</span>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="600">
					<figure class="__image  center-block circled">
						<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/12.png" width="110" height="110" alt="demo" />

						<div class="social-btns">
							<a class="fontello-facebook  circled" href="#"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Denis Portlen</h5>
						<span class="__subtitle">Programmer</span>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>