<div class="team team--style-2 team--light-color">
	<div class="__inner">
		<div class="row">
			<!-- start item -->
			<div class="col-3 col--xs-6 col--sm-4 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
					<figure class="__image  center-block circled">
						<a href="https://gupta-suyash.github.io/"><img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/suyash.jpeg" width="110" height="110"  /></a>

<!--						<div class="social-btns">-->
<!--							<a class="fontello-linkedin  circled" href="#"></a>-->
<!--						</div>-->
					</figure>

					<div class="__content">
						<h5 class="__title">Suyash Gupta</h5>
<!--						<span class="__subtitle">UI Designer</span>-->
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-3 col--xs-6 col--sm-4 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
					<figure class="__image  center-block circled">
						<a href="https://sajjadrahnama.com/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/sajjad.jpeg" width="110" height="110" alt="demo" />
						</a>

<!--						<div class="social-btns">-->
<!--							<a class="fontello-linkedin  circled" href="#"></a>-->
<!--						</div>-->
					</figure>

					<div class="__content">
						<h5 class="__title">Sajjad Rahnama</h5>
<!--						<span class="__subtitle">Analitics</span>-->
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-3 col--xs-6 col--sm-4 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="150">
					<figure class="__image  center-block circled">
						<a href="http://thamir.qadah.com">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/tq.jpeg" width="110" height="110" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/qadahtm/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Thamir Qadah</h5>
<!--						<span class="__subtitle">Tech Operation</span>-->
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-3 col--xs-6 col--sm-4 col--md-3 col--lg-3">
				<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="200">
					<figure class="__image  center-block circled">
						<a href="https://expolab.org/">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/team_img/mo.jpeg" width="110" height="110" alt="demo" />
						</a>

						<div class="social-btns">
							<a class="fontello-linkedin  circled" href="https://www.linkedin.com/in/mohammad-sadoghi-b842a27/"></a>
						</div>
					</figure>

					<div class="__content">
						<h5 class="__title">Mohammad Sadoghi</h5>
<!--						<span class="__subtitle">CEO</span>-->
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>