<div class="token-sale">
	<!-- start progress -->
	<div class="progress progress--big">
		<div class="progress__inner">
			<div class="__bar __bar--animate" style="width: 40%"></div>

			<span class="__label" style="left: 5%"><strong>800K</strong></span>
			<span class="__label" style="left: 18%"><strong>2.3M</strong></span>
			<span class="__label" style="left: 36%"><strong>5M</strong></span>
			<span class="__label" style="left: 75%"><strong>10.5M</strong></span>

			<span class="__max-val"><strong>17M USD MAX</strong></span>
		</div>
	</div>
	<!-- end progress -->

	<div class="row row--md-between row--no-gutters">
		<div class="col-MB-20">
			<div class="__inner">
				<!-- start item -->
				<div class="__item">
					<div class="b-table">
						<div class="cell v-top">
							<img class="__ico lazy" src="img/blank.gif" data-src="img/ico/ico_eth.png" alt="demo" />
						</div>

						<div class="cell v-top">
							<span class="__num">3,271.62</span>
							ETH RECEIVED
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="__item">
					<div class="b-table">
						<div class="cell v-top">
							<img class="__ico lazy" src="img/blank.gif" data-src="img/ico/ico_btc.png" alt="demo" />
						</div>

						<div class="cell v-top">
							<span class="__num">335.73</span>
							BTC RECEIVED
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="__item">
					<span class="__num">3471</span>
					BACKERS
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="__item">
					<span class="__num">12</span>
					DAYS LEFT
				</div>
				<!-- end item -->
			</div>
		</div>

		<div class="col-MB-20">
			<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Buy tokens</a>
		</div>
	</div>
</div>